.schedule-form {
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    & > * {
      width: calc(50% - 5px);
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}
